:root {
    --russian-violet: #231942;
    --ultra-violet: #5E548E;
    --lavender: #DABFFF;
    --pink: #FFD6FF;

}

body.portal {
    margin: 0;
    background-color: #FFD9F5;
    font-family: 'DotGothic16', sans-serif;
    text-transform: lowercase;
    animation: change-background 4s ease infinite;
}    

@keyframes change-background {
    0% {
        background-color: #FFd9F5;
    }

    50% {
        background-color: #EEE1FF;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 20px;
    color: var(--russian-violet);
    margin: 0;
    padding: 0 0 0 55px;
}

#banner {
    z-index: -1;
    background-image: url(images/banner.png);
    width: 1100px;
    height: 250px;
    margin-top: 54px;
    transition: background-image 1s ease-in-out;
}

#banner:hover {
    background-image: url(images/banner-transition.png);
    cursor: pointer;
}

h2#banner-h2 {
    margin: 0;
    padding: 4px 0 0 12px;
}

p {
    margin: 0;
    color: var(--ultra-violet);
    font-size: 16px;
    padding-left: 105px;
    padding-top: 8px;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.graphics {
    padding-top: 77px;
}

h1 {
    font-size: 64px;
    color: var(--ultra-violet);
    margin: 30px 0 0 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#studio {
    background-image: url(images/studio.png);
    width: 480px;
    height: 228px;
    margin: -49px 0 0 80px;
}

#exp {
    background-image: url(images/exp.png);
    width: 359px;
    height: 155px;
    margin: -53px 0 0 -10px;
}

#rd {
    background-image: url(images/rd.png);
    width: 398px;
    height: 242px;
    margin: 72px 0 0 -130px;
}

#final {
    background-image: url(images/final.png);
    width: 250px;
    height: 155px;
    margin: -32px 0 0 -120px;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    color: var(--ultra-violet);
    margin: 0;
    padding: 0;  
}

ul {
    margin: 0;
    padding: 16px 0 0 22px;  
}

a {
    line-height: 1.5em;
}

li:hover {
    margin-left: 24px;
    width: 210px;
    white-space: nowrap;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -60px;
    margin-right: 80px;
}

#footer-bg {
    background-image: url(images/email.png);
    width: 250px;
    height: 122px;
}

#footer-ul {
    margin: 0;
    padding: 45px 0 0 22px;  
}

.journalOne {
    margin: 0;
    padding: 0;
}

body.journal {
    background-color: #FFD9F5;
    font-family: 'DotGothic16', sans-serif;
    text-transform: lowercase;
}

div.journal, div.portal {
    padding-top: 12px;
}

p#journalBanP, p#portalBanP {
    margin-top: 8px;
}

article.journal {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#firstJournal {
    background-image: url(images/journal.png);
    background-repeat: no-repeat;
    width: 542px;
    height: 730px;
    margin: -49px auto;
}

article#secondJournal, article#thirdJournal, article#fourthJournal, article#fifthJournal {
    background-image: url(images/journal.png);
    background-repeat: no-repeat;
    width: 542px;
    height: 730px;
    margin: 101px auto;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    color: var(--russian-violet);
    margin: 0;
    padding-top: 4px;
}

div.journalBlock {
    margin-top: 32px;
}

h2.journalOne {
    font-size: 24px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 8px;
}

time {
    font-size: 14px;
    color: var(--russian-violet);
}

a.journalOne {
    text-decoration: underline;
    font-size: 16px;
}

a.journalOne:hover {
    color: var(--russian-violet);
}
p.journalOne {
    font-size: 16px;
    line-height: 1.5em;
    width: 438px;
    padding-bottom: 12px;
}

img.imgjournal {
    border-radius: 2px;
}