@font-face {
    font-family: mochi;
    src: url(font/Mochi-Regular.ttf);
}

@font-face {
    font-family: 'DK Cool Crayon';
    src: url(font/DkCoolCrayon-xJyV.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/paper-crumpled.png);
    background-size: 120% auto;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
   font-family: 'Dk Cool Crayon'; 
   font-size: 64px;
}