body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #F9EED9;
    background-image: url(images/sprinkle.png);
    background-repeat: repeat;
}

div#decoration {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    width: 790px;
    height: 800px;
    overflow: visible;
}

header, main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

h1{
    margin: 128px 0 20px 0;
    color: #B36966;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#form-col {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

input, label {
    display: block;
}

label {
    margin-bottom: 4px;
}

input {
    margin: 0 0 16px 0;
    border: 2px solid #ECC1C0;
    border-radius: 4px;
    width: 200px;
    height: 26px;
}

input[type="submit"] {
    margin: 24px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    color: #B36966;
    background-color: #EDAFB8;
    width: 208px;
    height: 40px;
    border: 3px solid #B36966;
    border-radius: 99px;
}

input[type="submit"]:hover {
    cursor: pointer;
    font-weight: 600;
    color: #fefefe;
    background-color: #B36966;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


input[type="text"]:focus {
    border: 2px solid #B36966;
    outline: 0;
}

article#error {
    color: #d91e18;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 150vw;
    height: 150vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article {
    border-radius: 16px;
    background-color: #fff;
    padding: 20px;
    width: 30vw;
    height: 32vh;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

article#madlib {
    font-size: 24px;
    color: #8B4442;
}
